.home-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/Sprinkle-background.svg);
}

.home-box {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}