.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../assets/Sprinkle-background.svg);
  }
  
  .register-form {
    width: 500px; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.form-group {
    margin-bottom: 20px;
}

.register-buttons {
    color: rgb(0, 60, 255);
    text-decoration: underline;
  }