.dashboard-content-wrapper {
    background-color: rgb(245, 245, 245);
    height: 86vh;
    border-radius: 10px;
}

.project-title {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
