#css-title {
    display: flex;
    justify-content: center;
}

#input-color {
    padding-bottom: 15px;
}

#input-border {
    padding-bottom: 15px;
}

#input-background {
    padding-bottom: 15px;
}

#input-shadow {
    padding-bottom: 15px;
}