<div class="home-content">
    <div class="w-50">
        <div class="p-3">
            <h2>ManageMe</h2>
            <p style="text-align: justify">
                Welcome to ManageMe! This is your space to showcase your unique and exciting endeavors. 
                Whether you're an entrepreneur, artist, or hobbyist, here you can share your creations and achievements 
                with the world. So go ahead, inspire others and let your projects shine on this platform dedicated to 
                celebrating individual creativity.
            </p>
            <a routerLink="dashboard">
                <button type="button" class="btn btn-primary">Get started</button>
            </a>
        </div>
    </div>

    <div class="w-50 d-flex flex-center justify-content-center align-items-center">
        <img src="../../assets/Management-image.jpg" alt="Management icon" />
    </div>
</div>