.order-form-container {
  height: 70vh;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 15px 44px -9px rgba(66, 68, 90, 1);
  display: flex;

  h1 {
    background-color: white;
    text-align: center;
    padding: 10px;
  }

  .order-form-field {
    margin-top: 10px;
  }

  .submit-order {
    cursor: pointer;
    margin-top: 10px;
    background-color: white;

    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #ff8000 !important;
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);

    &:hover {
      transition: 1000ms;
      padding: 10px 50px;
      transform: translateY(-0px);
      background-color: #ff8000e2;
      color: #000000;
      border: none;
    }
  }

  .order-form {
    padding: 25px;
    background-color: white;

    label,
    div {
      background-color: white;
    }

    label {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    input {
      margin-top: 5px;
      background-color: rgba(229, 229, 229, 0.5);
      border: 0.5px solid rgba(229, 229, 229);
      width: 300px;
      height: 35px;
      border-radius: 5px;
    }
  }
}
