<div class="forgotPassword-wrapper">
    <div class="forgotPassword-form">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                        <p class="mb-4">We get it, stuff happens. Just enter your email address below
                            and we'll send you a link to reset your password!</p>
                    </div>
                    <form class="user">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                aria-describedby="emailHelp" placeholder="Enter Email Address...">
                        </div>
                        <div class="w-100 d-flex justify-content-center">
                            <span routerLink="/login" class="btn btn-primary btn-user btn-block">
                                Reset Password
                            </span>
                        </div>
                    </form>
                    <hr>
                    <div class="text-center">
                        <span class="small forgotPassword-buttons" routerLink="/register">Create an Account!</span>
                    </div>
                    <div class="text-center">
                        <span class="small forgotPassword-buttons" routerLink="/login">Already have an account? Login!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>