.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../assets/Sprinkle-background.svg);
  }
  
  .login-form {
    width: 400px; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.form-group {
    margin-bottom: 20px;
}

.login-buttons {
  color: rgb(0, 60, 255);
  text-decoration: underline;
  cursor: pointer;
}